body {
    text-align: center;
}


#Etichette{
    width:49%;
    float: left;
    text-align: center;
    line-height: 2;
}

#nomi{
    width:100px;
    margin-left: auto;
    margin-right: 0;
    text-align: center;
}

#pass_form{
    width:49%;
    text-align: left;
    float: left;
    margin-bottom: 20px;
    line-height: 2;
    padding-left:2;
    
}