body {
    text-align: center;
}


#Etichette{
    width:49%;
    text-align: right;
    float: left;
    line-height: 2;
}


#pass_form{
    width:49%;
    text-align: left;
    float: left;
    margin-bottom: 20px;
    line-height: 2;
    padding-left:2%;
    
}