.single{
    vertical-align: top; 
    display: inline-block; 
    width: 150px; 
    text-align:center;
    margin-right: 20px;
}

#top{
    grid-row-start: 1;
    grid-row-end:1;
    grid-column-start: 1;
    grid-column-end:span 3;
}

#log{
    grid-row:1;
    grid-column: 2 3 ;
    float:right;
}

#wrapper{
    display:grid;
    grid-template-columns: 100px 20px auto;
    grid-template-rows: 100px 20px auto;
}


#result{
    grid-column-start: 3;
    grid-row-start: 3;
}

#buttons{
    border: solid 2px black;
    grid-column-start: 1;
    grid-row-start: 3;
}

img{
    width: 150px;
    height: 100px;
}
